<!-- <h1>Questions#answer</h1> -->
<!-- <p>Find me in app/views/questions/answer.html.erb</p>
 -->
 <div class="container">
 <div class="border">
  <div class="question">
<%= @answer %>
<br>
<em><%= "-You" %></em>
  </div>
</div>

<br>
<br>

<div class="answer-box border">
  <div class="answer">
<%if @answer.include?('?') %>
  <%=  'Silly question, get dressed and go to work!' %>
 <% elsif @answer.downcase == "i am going to work right now!" %>
 <%=  "Great!" %>
 <% else %>
 <%=  'I don\'t care, get dressed and go to work!' %>
 <% end %>
<br>
<em><%= "-Coach" %></em>
  </div>
</div>
<br>
<br>

<%= link_to "Ask a new question", "/ask"  %>
</div>
